<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
  {%- assign formatted_initial_value_stripped = formatted_initial_value | strip_html -%}
  <title>{{ 'gift_cards.issued.title_html' | t: value: formatted_initial_value_stripped, shop: shop.name }}</title>

  <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

  {%- include 'social-meta-tags' -%}

  {% include 'font-face' %}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'gift-card.scss.css' | asset_url | stylesheet_tag }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <script src="{{ 'vendor-scripts-v5.js' | asset_url | split: '?' | first }}" defer="defer"></script>
  {{ 'vendor/qrcode.js' | shopify_asset_url | script_tag }}

  {{ content_for_header }}

  {% include 'shogun-head' %}
<!-- GSSTART Slider code start. Do not change -->{% if product.id > 1 %}
<script type="text/javascript" src="https://gravity-software.com/js/shopify/slider_shop30829.js?v=61a54a37a224182d14bd3e0f10c9ce46"></script> 
 {% if product.variants.size > 1 %}<script>
gsSliderDefaultV = "{{ product.selected_or_first_available_variant.id }}";
var variantImagesByVarianName = {};
var variantImagesByVarianNameMix = {};
 var variantImagesGS = {},
    thumbnails,
    variant,
    variantImage,
    optionValue,
    cntImages;
    productOptions = [];
    cntImages = 0;
    {% for variant in product.variants %}
       variant = {{ variant | json }};
       if ( typeof variant.featured_image !== 'undefined' && variant.featured_image !== null ) {
         variantImage =  variant.featured_image.src.split('?')[0].replace(/http(s)?:/,'');
         variantImagesGS[variant.id] = variantImage;
         variantImagesByVarianName[variant.option1] = variantImage;
var variantMixName = "";
if(variant.option1 != null) {
variantMixName = variant.option1;
}
	 if(variant.option2 != null) {
		variantImagesByVarianName[variant.option2] = variantImage;
		variantMixName = variantMixName + ";gs;" + variant.option2;
	 }
         if(variant.option3 != null) {
                variantImagesByVarianName[variant.option3] = variantImage;
		variantMixName = variantMixName + ";gs;" + variant.option3;
         }

if(variantMixName != "") {
variantImagesByVarianNameMix[variantMixName] = variantImage;
}

         cntImages++;
       }
    {% endfor %}
                if(cntImages == 0) {
          variantImagesGS = undefined;
                }
</script> {% endif %}
<script>

var imageDimensionsWidth = {};
var imageDimensionsHeight = {};
var imageSrcAttr = {};
var altTag = {};  

var mediaGS = [];  
  var productImagesGS = [];
var productImagesGSUrls = [];
{% for image in product.images %}
  var productImageUrl = "{{ image.src }}";
  var dotPosition = productImageUrl.lastIndexOf(".");
  productImageUrl = productImageUrl.substr(0, dotPosition);
  productImagesGS.push(productImageUrl);
  imageDimensionsWidth[{{ image.id }}] = "{{ image.width }}";
  imageDimensionsHeight[{{ image.id }}] = "{{ image.height }}";
  altTag[{{ image.id }}] = "{{ image.alt | replace: '\"', '"' | replace: '"', '\"' | strip | strip_newlines }}";
  imageSrcAttr[{{ image.id }}] = "{{ image.src }}";
  productImagesGSUrls.push("{{ image.src | img_url: '240x' }}");
{% endfor %}

{%- for media in product.media -%}
    {% case media.media_type %}
	{% when "image" %}                           
                           var mediaObjectGS ={id: "{{ media.image.id  }}", mediaType:"{{ media.media_type }}", previewImgURL:"{{ media.image.src | img_url: "240x" }}", previewImg:"{{ media.image.src }}", tag:"{{ media.image.src | img_url: "240x" }}"};  
            mediaGS.push(mediaObjectGS);
    {% when "video" %}
              var productImageUrl = "{{ media.preview_image }}";
  var dotPosition = productImageUrl.lastIndexOf(".");
  productImageUrl = productImageUrl.substr(0, dotPosition);                     
  var mediaObjectGS ={id: "{{ media.id }}", mediaType:"{{ media.media_type }}", width: "{{ media.preview_image.width }}", height: "{{ media.preview_image.height }}", previewImgURL:"{{ media.preview_image | img_url: "500x" }}", previewImg:"" + productImageUrl +  "", tag:'{{ media | video_tag: controls: true }}'};                                  
            mediaGS.push(mediaObjectGS);                                
	{% when "external_video" %}                
              var productImageUrl = "{{ media.preview_image }}";
  var dotPosition = productImageUrl.lastIndexOf(".");
  productImageUrl = productImageUrl.substr(0, dotPosition);                     
            var mediaObjectGS ={id: "{{ media.id }}", mediaType:"{{ media.media_type }}", width: "{{ media.preview_image.width }}", height: "{{ media.preview_image.height }}", previewImgURL:"{{ media.preview_image | img_url: "500x" }}", previewImg:"" + productImageUrl +  "", tag:'{{ media | external_video_tag }}'};                                  
            mediaGS.push(mediaObjectGS);
    {% endcase %}
{%- endfor -%}      
                    

</script>

{% endif %}<!-- Slider code end. Do not change GSEND -->
</head>

<body class="template-giftcard">

  <div id="PageContainer">

    <div class="page-width">

      {% section 'giftcard-header' %}

      <main class="giftcard" role="main">
        {{ content_for_layout }}
      </main>

      <footer class="giftcard__footer">
        {% if gift_card.pass_url %}
          <a class="add-to-apple-wallet" href="{{ gift_card.pass_url }}">
            <img src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}">
          </a>
        {% endif %}
      </footer>
    </div>

  </div>

<link rel="stylesheet" href="https://gravity-software.com/js/shopify/rondell/jquery.rondellf85.css?v=123"/></body>
</html>
